
<section class="bg-zin-800 p-20 rounded-xl my-4 text-center" >

    <h2 class="text-5xl font-bold my-5 ">about us</h2>

    <p class="text-zinc-300 text-1xl">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo sit expedita aliquid voluptatum sequi temporibus unde, cum quisquam dolore. Aperiam ratione distinctio adipisci nulla eius eligendi assumenda, saepe quibusdam, ut explicabo fugiat doloremque consequatur accusantium? Sint ipsum quae aliquam?
    </p>
    
</section>
